<launch>
  <!--param name="use_sim_time" value="true" /-->
  <node name="treeCenterLocalization" pkg="dbscan" type="treeCenterLocalization_node" output= "screen">
    <param name="laser_name" type="string" value="/velodyne_TSLAM"/>
    <param name="base_link_name" type="string" value="/base_TSLAM"/>
    <param name="odom_name" type="string" value="/odom_TSLAM"/>
    <param name="map_name" type="string" value="/map"/>

    <param name="MaxCorrespondenceDistance" type="double" value="2"/>
    <param name="MaximumIterations" type="int" value="30"/>
    <param name="TransformationEpsilon" type="double" value="1e-10"/>
    <param name="EuclideanFitnessEpsilon" type="double" value="0.001"/>
    <param name="localMapRadius" type="double" value="100"/>

    <param name="stableTimeThreshould" type="double" value="10.0"/>
    <param name="stableTrackingThreshould" type="double" value="30"/>

    <param name="birthTimeThreshould" type="double" value="5.0"/>
    <param name="TrackingTimesThreshould" type="double" value="5.0"/>
    <param name="removalBeginTime" type="double" value="10.0"/>
  </node>

  <node name="tree_cluster3d" pkg="dbscan" type="dbscan3d" >

      <!-- No use parameter from 2d dbscan-->
      <param name="scan_number_360" type="double" value="1080.0"/>
      <param name="scan_range" type="double" value="8.0"/>

      <!-- Topic Name-->
      <param name="laser_name" type="string" value="/velodyne_TSLAM"/>
      <param name="tree_point" type="string" value="/tree_pt"/>
      <param name="scan_topic_name" type="string" value="/velodyne_points"/>

      <!-- No use Pointcloud's Filter-->
      <param name="distance_max" type="double" value="30.0"/>
      <param name="distance_min" type="double" value="0.0"/>
      <param name="height_max" type="double" value="2.3"/>
      <param name="height_min" type="double" value="-0.0"/>

      <!-- RANSAC Config -->
      <param name="groundZMax" type="double" value="-0.0"/>
      <param name="groundZMin" type="double" value="-2.0"/>
      <param name="inlierRatio" type="double" value="0.5"/>
      <param name="confidence" type="double" value="0.99"/>
      <param name="inlinerThreshold" type="double" value="0.05"/>
      <param name="ratioCondition" type="double" value="0.9"/>
      <param name="upperBorder" type="double" value="0.80"/>
      <param name="sampleNum" type="int" value="5"/>

      <!-- DBSCAN's Parameter -->
      <!-- EPS大一点可以让杂草聚在一起变成strange：0.45，小一点可以识别到更多的树0.2 -->
      <param name="EPS" type="double" value="0.2"/>
      <param name="MinPts" type="int" value="5"/>
      <param name="min_cluster" type="int" value="8"/>

      <!-- Ceres' Parameter -->
      <param name="tree_residual" type="double" value="0.01"/>
      <param name="tree_radius_max" type="double" value="0.16"/>
      <param name="tree_radius_min" type="double" value="0.05"/>

    </node>


    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dbscan)/rviz/localization.rviz" required="true" />
  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find dbscan)/rviz/clustering.rviz" required="true" /-->
</launch>